node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.next/cache
.vercel
dist
build
coverage
.DS_Store
*.pem
.idea
.vscode
*.swp
*.swo
Thumbs.db
.turbo
.turboignore
pnpm-lock.yaml
yarn.lock
package-lock.json
